.detail-modal {
    position: absolute;
    background-color: rgba($color: #658a67, $alpha: 0.96);
    color: rgb(0, 0, 0);
    text-align: center;
    left: 10vw;
    height: 100vh;
    width: 85vw;
    z-index: 1;
    border-radius: 3%;
}
.exit {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: rgb(107, 58, 122);
    border-radius: 100px;
    width: 35px;
    heigh: 35px;
    font-size: larger;
    cursor: pointer;
    color: white;
    svg {
        position: relative;
        right: 11px;
    }
}
