$sidebarColor1: rgb(18, 156, 20);
$sidebarColor2: rgb(35, 147, 37);
$darkGreen: rgb(13, 64, 14);
$black: rgb(0, 0, 0);
$darkPurple: rgb(34, 16, 93);
$mainColor: rgb(47, 21, 133);
$purple: rgb(59, 25, 169);