.title {
  color: black;
  font-size: large;
  position: absolute;
  left: 15vw;
  top: 2vh;
  display: grid;
  place-items: center;
  background-color: wheat;
  border-radius: 7px;
  width: 75vw;
  height: 6vh;
}