.title {
  color: black;
  font-size: large;
  position: absolute;
  left: 15vw;
  top: 2vh;
  display: grid;
  place-items: center;
  background-color: wheat;
  border-radius: 7px;
  width: 75vw;
  height: 6vh;
}
.content {
  color: black;
  font-size: large;
  position: absolute;
  display: grid;
  place-items: left;
  background-color: wheat;
  border-radius: 7px;
}
.middle {
  left: 15vw;
  top: 10.5vh;
  width: 75vw;
  height: 39vh;
  text-align: start;
  overflow-y: auto;
}
.bottom {
  left: 15vw;
  top: 50.5vh;
  width: 75vw;
  height: 46vh;
  text-align: start;
  overflow-y: hidden;
}